# PostgreSQL
ConnectionStrings__Database=Host=localhost;Port=5432;Database=orderprocessing;Username=orderprocessing;Password=orderprocessing

# Kafka
Kafka__BootstrapServers=localhost:9092
Kafka__Topic=orders.created.v1
Kafka__ConsumerGroup=order-processing-v1

# External integration: AlwaysSuccess | AlwaysFail | Random
ExternalIntegration__Mode=AlwaysSuccess
ExternalIntegration__MinDelaySeconds=5
ExternalIntegration__MaxDelaySeconds=10

# Keycloak
Authentication__Authority=http://localhost:8080/realms/order-processing
Authentication__Audience=order-processing-api
Authentication__RequireHttpsMetadata=false

# Frontend
VITE_API_BASE_URL=http://localhost:5080
VITE_KEYCLOAK_URL=http://localhost:8080
VITE_KEYCLOAK_REALM=order-processing
VITE_KEYCLOAK_CLIENT_ID=order-processing-web
